<!DOCTYPE html>
    <head>
        <title>Environmental data</title>
        <link rel="stylesheet" href='../static/style.css' />
        <meta http-equiv="Content-Type" content="text/html; charset-UTF-8" />
        <style>
            body {
                text-align: center;
            }
            #g1,
            #g2 {
                width: 200px;
                height: 160px;
                display: inline-block;
                margin: 1em;
            }
        </style>
    </head>
    <body>
        <h1>Environmental sensor data</h1>
        <div id="g1"></div>
        <div id="g2"></div>
        <hr>
        <h3>Last sensors reading: {{ timestamp }} </h3>
        <hr>
        <script src="../static/raphael-2.1.4.min.js"></script>
        <script src="../static/justgage.js"></script>
        <script>
            var g1, g2;
            document.addEventListener("DOMContentLoaded", function(event) {
                g1 = new JustGage({
                    id: "g1",
                    value: {{ temperature }},
                    valueFontColor: "yellow",
                    min: 0,
                    max: 50,
                    decimals: 2,
                    title: "Temperature",
                    label: "Celsius"
                });
                g2 = new JustGage({
                    id: "g2",
                    value: {{ humidity }},
                    valueFontColor: "yellow",
                    min: 0,
                    max: 100,
                    decimals: 2,
                    title: "Humidity",
                    label: "%"
                });
            });
        </script>
    </body>
</html>